<a href="https://colab.research.google.com/github/KamronbekSolih/mohirdev/blob/main/SQL_tables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import sqlite3 as sql
from pprint import pprint as print

In [3]:
db = sql.connect("chinook.db")
cursor = db.cursor()

In [ ]:
query = """
CREATE TABLE IF NOT EXISTS worldpop(
  rankt INT,
  country TEXT PRIMARY KEY,
  density DOUBLE,
  population DOUBLE NOT NULL,
  area INT NOT NULL
);

"""
cursor.execute(query)
db.commit()

In [ ]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('worldpop',)]

In [ ]:
cursor.execute("PRAGMa table_info(worldpop)")
cursor.fetchall()

[(0, 'rankt', 'INT', 0, None, 0),
 (1, 'country', 'TEXT', 0, None, 1),
 (2, 'density', 'DOUBLE', 0, None, 0),
 (3, 'population', 'DOUBLE', 1, None, 0),
 (4, 'area', 'INT', 1, None, 0)]

In [ ]:
query = "INSERT INTO worldpop VALUES(1, 'Macau',21946.4667, 658.3940, 30)"
cursor.execute(query)
db.commit()

In [ ]:
cursor.execute("SELECT * FROM worldpop ")
cursor.fetchall()

[(1, 'Macau', 21946.4667, 658.394, 30),
 (None, 'Uzbekistan', None, 33935.763, 447400)]

In [ ]:
query = "INSERT INTO worldpop (country, population, area) VALUES ('Uzbekistan', 33935.7630, 447400)"
cursor.execute(query)
db.commit()

In [ ]:
pd.read_sql("SELECT * FROM worldpop", db)

   rankt     country  density  population    area
0    133  Uzbekistan    75.85   33935.763  447400

In [ ]:
query = "UPDATE worldpop SET rankt = 133, density =75.85 WHERE country ='Uzbekistan'"
cursor.execute(query)
db.commit()

In [ ]:
query = "DELETE FROM worldpop  WHERE country = 'Macau'"
cursor.execute(query)
db.commit()

In [ ]:
cursor.execute("DROP TABLE worldpop")
db.commit()

In [ ]:
pd.read_sql("SELECT * FROM worldpop", db)

DatabaseError: Execution failed on sql 'SELECT * FROM worldpop': no such table: worldpop

--***---

In [8]:
query = """
CREATE TABLE IF NOT EXISTS worldpop(
  rank INT,
  country TEXT PRIMARY KEY,
  density DOUBLE,
  population DOUBLE NOT NULL,
  area INT NOT NULL
);

"""

cursor.execute(query)
db.commit()

In [9]:
df = pd.read_sql("SELECT * FROM worldpop", db)
df

Empty DataFrame
Columns: [rank, country, density, population, are]
Index: []

In [7]:
uz = df[df.country == 'Uzbekistan']
uz

Empty DataFrame
Columns: [rank, country, density, population, are]
Index: []

In [ ]:
rank = uz.index.values[0]
country = uz.at[rank, 'country']
density = uz.at[rank, 'density']
population = uz.at[rank, 'pop2021']
area = uz.at[rank, 'area']
print(f"{rank=}, {country=}, {density=}, {population=}, {area=}")

In [ ]:
query = f"""
INSERT INTO worldpop VALUES ({rank}, '{country}', {density}, {population}, {area})
"""
cursor.execute(query)
db.commit()

In [10]:
db.close()